/*!
 Theme Name:   ARC - Virtue Child
 Description:  Virtue Child Theme for the ARC site
 Author:       David Cavins
 Template:     virtue
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  virtue-child-arc
*/
h1, h2, h3, h4, h5, h5 {
	a.highlighter {
		text-decoration: none;
		border-bottom: 1px solid hsla(208, 50%, 44%, 0.3);
		box-shadow: 0 -4px 0 hsla(208, 50%, 44%, 0.3) inset;
		transition: border-bottom .25s, box-shadow .25s;
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid hsla(208, 50%, 44%, 0.8);
			box-shadow: 0 -4px 0 hsla(208, 50%, 44%, 0.8) inset;
		}
	}
}
p {
	a.highlighter {
		text-decoration: none;
		border-bottom: 1px solid hsla(208, 50%, 44%, 0.3);
		box-shadow: 0 -2px 0 hsla(208, 50%, 44%, 0.3) inset;
		transition: border-bottom .25s, box-shadow .25s;
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid hsla(208, 50%, 44%, 0.8);
			box-shadow: 0 -2px 0 hsla(208, 50%, 44%, 0.8) inset;
		}
	}
}
.container .footerclass {
	background: url(images/blue-ridge-footer-ltx1800.png) no-repeat center bottom;
	// background-size: cover;
	min-height: 300px;
}
.sidebar-footer-logos {
	// background-color: rgba( 255, 255, 255, 0.4);
	padding-top: 2em;
	// padding-bottom: 1.25em;
	// border-top: 1px solid #dadada;
	// border-bottom: 1px solid #dadada;
}
.widget {
	[class*="wp-image"] {
		margin-left: 0;
		margin-right: 0;
	}
	h3 {
		text-decoration: none;
		border-bottom: 1px solid hsla(208, 50%, 44%, 0.3);
		box-shadow: 0 -2px 0 hsla(208, 50%, 44%, 0.3) inset;
		transition: border-bottom .25s, box-shadow .25s;
		font-size: 1.6rem;
		line-height: 1.2;
		a:hover {
			text-decoration: none;
			border-bottom: 1px solid hsla(208, 50%, 44%, 0.8);
			box-shadow: 0 -2px 0 hsla(208, 50%, 44%, 0.8) inset;
		}
	}
}

// Front page image with overlaying text
// At smallest size, text appears below image.
.cover-image {
	.text-overlay {
		.main-title {
		}
		.subtitle {
			font-size: 1.4rem;
			line-height: 1.4;
		}

	}
}
//Responsive line break - activates at certain widths.
.rwd-break-600 {
	display: none;
}

// Reporting interface
.arc-bright-spots #cdt .cdt-chart {
	max-width: 100%;
}

// At 600 we can do an overlay.
@media screen and (min-width:600px), print {
	//Responsive line break - activates at certain widths.
	.rwd-break-600 {
		display: inline;
	}
	.cover-image {
		position: relative;
		.text-overlay {
			position: absolute;
			bottom: 15%;
			left: 1.8em;
			right: 1.8em;
			.main-title {
				color: #ffffff;
				font-size: 3.6rem;
				line-height: 4.2rem;
				text-shadow: 1px 1px 8px rgba( 0, 0, 0, .75 );
			}
			.subtitle {
				color: #ffffff;
				text-shadow: 1px 1px 6px rgba( 0, 0, 0, .75 );
				font-size: 1.4rem;
			}

		}
	}
}




