/*!
 Theme Name:   ARC - Virtue Child
 Description:  Virtue Child Theme for the ARC site
 Author:       David Cavins
 Template:     virtue
 Version:      1.0.2
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  virtue-child-arc
*/
// Colors
$arc-blue-1: #0a5981;
$arc-blue-2: #4680a5;
$arc-blue-3: #7ca7c5;
$arc-blue-4: #b6cfe0;
$arc-blue-5: #00496E;
$arc-orange: #ef8a62;
$arc-green: #93DE76;
$arc-lt-violet: #9B96EC;
$arc-violet: #8481D2;
$arc-header-blue: #143775;

h1, h2, h3, h4, h5, h5 {
	a.highlighter {
		text-decoration: none;
		border-bottom: 1px solid hsla(208, 50%, 44%, 0.3);
		box-shadow: 0 -4px 0 hsla(208, 50%, 44%, 0.3) inset;
		transition: border-bottom .25s, box-shadow .25s;
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid hsla(208, 50%, 44%, 0.8);
			box-shadow: 0 -4px 0 hsla(208, 50%, 44%, 0.8) inset;
		}
	}
}
.virtue-child-arc .entry-content  {
	h1, h2, h3,	h4 {
		margin-top: 2%;
		margin-bottom: 1.2%;
	}
	h2:first-of-type {
		margin-top: 0;
	}
}

p {
	a.highlighter {
		text-decoration: none;
		border-bottom: 1px solid hsla(208, 50%, 44%, 0.3);
		box-shadow: 0 -2px 0 hsla(208, 50%, 44%, 0.3) inset;
		transition: border-bottom .25s, box-shadow .25s;
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid hsla(208, 50%, 44%, 0.8);
			box-shadow: 0 -2px 0 hsla(208, 50%, 44%, 0.8) inset;
		}
	}
}
a.highlighter {
	text-decoration: none;
	border-bottom: 1px solid hsla(208, 50%, 44%, 0.3);
	box-shadow: 0 -2px 0 hsla(208, 50%, 44%, 0.3) inset;
	transition: border-bottom .25s, box-shadow .25s;
	&:hover {
		text-decoration: none;
		border-bottom: 1px solid hsla(208, 50%, 44%, 0.8);
		box-shadow: 0 -2px 0 hsla(208, 50%, 44%, 0.8) inset;
	}
}
.headerclass {
	border-bottom: 2px solid hsla(208, 50%, 44%, 0.3);
	padding-bottom: .5em;
	#logo {
		padding-top: 1em;
	}
	#nav-main {
		margin-top: 1.5em;
	}
}
.container .footerclass {
	background: url(images/blue-ridge-footer-ltx1800.png) no-repeat center bottom;
	// background-size: cover;
	min-height: 300px;
}
.sidebar-footer-logos {
	// background-color: rgba( 255, 255, 255, 0.4);
	padding-top: 2em;
	// padding-bottom: 1.25em;
	// border-top: 1px solid #dadada;
	// border-bottom: 1px solid #dadada;
}
.widget {
	[class*="wp-image"] {
		margin-left: 0;
		margin-right: 0;
	}
	h3 {
		text-decoration: none;
		border-bottom: 1px solid hsla(208, 50%, 44%, 0.3);
		box-shadow: 0 -2px 0 hsla(208, 50%, 44%, 0.3) inset;
		transition: border-bottom .25s, box-shadow .25s;
		font-size: 1.6rem;
		line-height: 1.2;
		a:hover {
			text-decoration: none;
			border-bottom: 1px solid hsla(208, 50%, 44%, 0.8);
			box-shadow: 0 -2px 0 hsla(208, 50%, 44%, 0.8) inset;
		}
	}
}

// Front page image with overlaying text
// At smallest size, text appears below image.
.cover-image {
	.text-overlay {
		.main-title {
		}
		.subtitle {
			font-size: 1.4rem;
			line-height: 1.4;
		}

	}
}
//Responsive line break - activates at certain widths.
.rwd-break-600 {
	display: none;
}

.cta-button {
	padding: 12px 18px;
	font-size: 1.1em;
	// border: none;
	display: inline-block;
	background-color: lighten( $arc-blue-4, 10 );
	// color: white;
	transition: all .6s ease-out;
	border-bottom: 4px solid $arc-blue-3;
	&:hover,
	&:active {
		background-color: lighten( $arc-blue-4, 3 );
		// box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2)
	}
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 8px solid rgba(124,167,197,.9);
		display: inline-block;
		margin-left: 6px;
	}
}
// .linkjet {
// 	width: 0;
// 	height: 0;
// 	border-top: 6px solid transparent;
// 	border-bottom: 6px solid transparent;
// 	border-left: 8px solid rgba(124,167,197,.9);
// 	display: inline-block;
// 	margin-left: 6px;
// }

// Reporting interface
.arc-bright-spots #cdt .cdt-chart {
	max-width: 100%;
	padding-right: 0;
	padding-left: 0;
}
.arc-bright-spots #cdt table {
	td,
	th {
		font-size: 14px;
	}
}
.arc-bright-spots tr.section-on {
	background-color:#ededed;
}
.arc-bright-spots tr.highlight {
	font-weight: 700;
}

.arc-bright-spots  {
	// Color of the bars in a bar chart
	.highcharts-bar-series .highcharts-point {
		fill: $arc-blue-4;
		&.county_value {
			fill: $arc-blue-5;
		}
	}
	// .highcharts-grid-line {
	// 	stroke: #FAB;
	// }
	.highcharts-xaxis-labels .county-label {
		color: #000;
		font-weight: 700;
	}
	// Tables
	.cdt-table .arc-county {
		// font-weight: 700;
		background-color: lighten( $arc-blue-4, 16% );
	}
}
// Bright Spots overview/archive
.bright-spots-location-map-container {
	border: 1px solid $arc-blue-3;
	.leaflet-container {
		border-top: none;
		border-left: none;
		border-bottom: none;
	}
}
.leaflet-container {
	// min-height: 350px;
	border: 1px solid $arc-blue-3;
	.leaflet-control-custom {
		background-image: url(images/icons/reset.png);
		// background-color: #f1b82d;
		background-position: center;
		background-repeat: no-repeat;
	}
}
.bright-spots-list {
	margin-top: 2em;
	.bright-spot-item {
		.cell-liner {
			padding: 1em;
			border: 1px solid #ddd;
			height: 100%;
		}
	}
	.post-thumbnail-container {
		float: left;
		margin-right: 2em;
	}
	.post-thumbnail.map-view {
		display: none;
	}
}

.bright-spot-highlight {
	height: 350px;
	overflow-y: scroll;
	background-color: lighten( $arc-blue-4, 16% );
	border-left: 1px solid $arc-blue-3;
	transition: width 0.3s ease-out;
	.post-thumbnail.list-view {
		display: none;
	}
	.cell-liner {
		padding: 1em;
	}
	.bright-spot-content {
	}
}
.bright-spots-location-map-container .bright-spot-highlight.collapsed {
	width: 0%;
}

.legend {
    line-height: 18px;
    color: #555;
	padding: 6px 8px;
	// font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	border-radius: 2px;
}
.legend .swatch {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.legend-item:first-of-type {
	margin-bottom: .4em;
	display: block;
}

// Viewing a single Bright Spot
.single-arc_bright_spot {
	.photo-header {
		position: relative;
		margin-bottom: 2.4em;

		.single-bright-spot-title {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.5));
			padding: .4em 1em;
			margin: 0;
			color: white;
			text-shadow: 0px 0px 6px #000000;
		}
	}


	blockquote {
		padding: 1.2em 2em;
		background-color: lighten( $arc-blue-4, 16 );
		// color: white;
		border-color: $arc-blue-1;

		p {
			line-height: 1.4;
		}
		footer {
			color: $arc-blue-1;
			margin-top: 1em;
		}
		.attribution {
			display: block;
			color: $arc-blue-1;
			// text-align: right;
			margin-top: 1em;
		}
	}
	.wp-caption-text {
		font-size: .9em;
		line-height: 1.4em;
		text-align: left;
		padding: .6em;
		background-color: lighten( $arc-blue-4, 16 );
	}

	.entry-content .green-highlight {
		background-color: #e2eed9;
	}

	.leaflet-container {
		margin-bottom: 2em;
		margin-top: 1em;
	}
	table {
		tr {
			th {
				&.numeric-column {
					text-align: right;
				}
			}
			td {
				&.numeric-column {
					text-align: right;
					font-family: monospace,monospace;
				}
			}
		}
	}
}

// The big number pane on a bright spot
.data-cards .cell-liner {

}
.data-card-container {
	background-color: $arc-blue-1;
	border-radius: 3px;
	padding-bottom: 4px;
	border: 1px solid $arc-blue-2;
	.cabs-big-number-container {
		color: white;
		text-align: center;
		padding-bottom: .2em;
		.cabs-data-card-title {
			color: white;
			font-size: 1.4em;
			margin-top: 0;
		}
	}
	.cabs-big-number {
		font-size: 3.6em;
		margin: .3em 0;
		display: block;
		color: lighten( $arc-blue-4, 4 );
	}
	.cabs-big-number-legend {
		display: block;
	}
	.highcharts-point:first-of-type {
		fill: $arc-blue-2;
	}
	.cabs-big-number-chart {
		background-color: white;
		.highcharts-container {
			.highcharts-background {
				fill: none;
			}
		}
	}
}
.data-card-container-ribbon {
	background-color: $arc-blue-1;
	border-radius: 3px;
	// padding-bottom: 4px;
	border: 1px solid $arc-blue-2;
	.cabs-big-number-container {
		color: white;
		text-align: center;
		padding-bottom: .2em;
		.cabs-data-card-title {
			color: white;
			font-size: 1.4em;
			line-height: 1.25;
			margin-top: .4em;
		}
		.single-indicator-report-link {
			color: lighten( $arc-blue-4, 4 );
			font-size: .9em;
			text-decoration: underline;
		}
	}
	.cabs-big-number {
		font-size: 3.6em;
		margin: .3em 0;
		display: block;
		color: lighten( $arc-blue-4, 4 );
	}
	.cabs-big-number-legend {
		display: block;
	}
	.highcharts-point:first-of-type {
		fill: $arc-blue-2;
	}
	.cabs-big-number-chart {
		background-color: white;
		.highcharts-container {
			.highcharts-background {
				fill: none;
			}
		}
	}
}

// In-page nav on bright spot.
.scroll-nav {
  position: absolute;
  // width: 100%;
}
.scroll-nav.fixed .scroll-nav__wrapper {
  position: fixed;
  top: 60px;
}

.scroll-nav__wrapper {
  border: 1px solid $arc-blue-4;
  background-color: lighten( $arc-blue-4, 16 );
  border-radius: 2px;
  padding: 10px 5px;
}

.scroll-nav__heading {
  border-bottom: 2px solid #fff;
  color: #fff;
  display: block;
  font-family: "Alfa Slab One", Georgia, serif;
  font-size: 1.2em;
  margin-bottom: 15px;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #006186;
}
.scroll-nav__heading:before {
  // font-size: 40px;
}

.scroll-nav__list,
.scroll-nav__sub-list {
  margin-bottom: 0;
  list-style: none;
}

.scroll-nav__item {
  font-weight: 400;
  // font-size: 30px;
  line-height: 1.2em;
  margin: 0 auto;
  overflow: hidden;
  width: 200px;
  // width: 100%;
}
.scroll-nav__item:before {
  color: #000;
  display: block;
  position: absolute;
  pointer-events: none;
  text-align: center;
  // width: 40px;
}
.scroll-nav__item.active {
  transform: scale(1.15, 1.15);
  font-weight: 800;
}
.scroll-nav__item.active a:hover {
  // font-weight: 800;
}
.scroll-nav__link {
  // color: #ccc;
  display: block;
  margin: 0 auto 1em;
	&:hover {
	  // color: #ccc;
	}
	&.download-pdf {
		&:before {
			margin-top: .5em;
			padding-top: 1em;
			content: ""; /* This is necessary for the pseudo element to work. */
			display: block; /* This will put the pseudo element on its own line. */
			width: 88%; /* Change this to whatever width you want. */
			// padding-top: 20px; /* This creates some space between the element and the border. */
			border-top: 1px solid lighten( $arc-blue-3, 10 ); /* This creates the border. Replace black with whatever color you want. */
		}
	}
}

// Key Findings page
.key-finding-section {
	margin-bottom: 4em;
	.aligncenter,
	.alignnone {
		margin-top: 2em;
	}
	.bar-chart-container {
		margin-top: 2em;
	}
	.section-header {

	}
}
.in-page-navigation {
	a {
		display: inline-block;
		width: 100%;
		padding: .2em .8em;
		background-color: lighten( $arc-blue-4, 16% );
		transition: all .25s;
		&:hover {
			background-color: lighten( $arc-blue-4, 6% );
		}
	}
}
// At 600 we can do an overlay.
@media screen and (min-width:600px), print {
	//Responsive line break - activates at certain widths.
	.rwd-break-600 {
		display: inline;
	}
	.cover-image {
		position: relative;
		.text-overlay {
			position: absolute;
			bottom: 0;
			left: 1.8em;
			right: 1.8em;
			padding-bottom: 1.8em;
			.main-title {
				color: #ffffff;
				font-size: 3.6rem;
				line-height: 4.2rem;
				text-shadow: 1px 1px 6px rgba( 0, 0, 0, 1 );
				background-color: rgba( $arc-blue-5, .85 );
				padding: 8px 16px;
				display: inline-block;
				margin-bottom: 0;
			}
			.subtitle {
				color: #ffffff;
				text-shadow: 1px 1px 6px rgba( 0, 0, 0, 1 );
				font-size: 1.6rem;
				background-color: rgba( 0, 0, 0, .5 );
				background-color: rgba( $arc-blue-5, .85);
				padding: 8px 16px;
				display: inline-block;
				margin-bottom: 0;
				margin-top: 1em;
			}

		}
	}

	.hero-section {
		// padding-left: 1.5em;
		// padding-right: 1.5em;
		margin-bottom: 2.5em;
		&.disparities {
			// background-color: rgba( $arc-blue-5, .5);
		}
	}

	// Map interface
	.cdt-fullwidth.maps .container {
		width: auto;
	}
}

//Bootstrap 3 vs 4 conflict:
.kad-nav-collapse.show {
	height: auto;
}

// Bright spots integration.
.abs-disparities-report-link {
	background-color: lighten( $arc-blue-4, 16% );
	margin-bottom: 1em;
	padding: 1em 1em 1em 60px;
	position: relative;
	img {
		width: 36px;
		height: 36px;
		display: inline;
		vertical-align: middle;
		margin-left: -42px;
	}
	.link-text {
		line-height: 1.2;
		display: inline-block;
		vertical-align: middle;
		padding-left: 6px;
	}
}
@media screen and (min-width:480px), print {
	.abs-disparities-report-link {
		max-width: 33%;
		float: right;
		margin-left: 1em;
	}
}

// identifying bright spots
.ident-bright-spots-map {
	width: 100%;
	margin-bottom: 1em;
}

@media screen and (min-width:600px), print {
	.ident-bright-spots-map {
		width: 45%;
		float: right;
		margin-left: 1em;
	}
}

.virtue-child-arc #nav-main ul.sf-menu a {
	line-height: 1.4;
}

ol.bsid-methodology {
	list-style-type: none;
	counter-reset: li-counter;
	padding-left: 24px;
	li {
		counter-increment: li-counter;
		margin-bottom: 5px;
		&:before {
			content: counter(li-counter) ".";
			font-size: 18px;
			line-height: 22px;
			vertical-align: top;
			margin-left: -24px;
			margin-right: 8px;
			display: inline-block;
			color: $arc-header-blue;

		}
		h3, h4 {
			display: inline;
			width: 90%;
			vertical-align: top;
			margin-top: 0;
		}
	}
}

